# Multiple Linear Regression

###### Update sikitLearn package

In [2]:
from warnings import filterwarnings
filterwarnings("ignore")

#### Read dataset

In [3]:
import pandas as pd
df = pd.read_csv("50_Startups.csv")
df.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

### Seperate dependant and independant

Y -> Dependant Feature
X -> Independant Feature

In [4]:
X = df[["RND","ADMIN","MKT"]]

In [5]:
X.head()

         RND      ADMIN        MKT
0  165349.20  136897.80  471784.10
1  162597.70  151377.59  443898.53
2  153441.51  101145.55  407934.54
3  144372.41  118671.85  383199.62
4  142107.34   91391.77  366168.42

In [6]:
Y = df[["PROFIT"]]
Y.head()

      PROFIT
0  192261.83
1  191792.06
2  191050.39
3  182901.99
4  166187.94

#### Create model

In [8]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,Y)

LinearRegression()

### Evaluate model

In [11]:
model.score(X,Y)

0.9507459940683246

#### Coefficient

In [12]:
model.intercept_

array([50122.19298987])

In [13]:
model.coef_

array([[ 0.80571505, -0.02681597,  0.02722806]])

PROFIT = 50122.19298987 + 0.80571505 * RND + 0.02681597*ADMIN + 0.02722806 *MKT

In [14]:
### Predict the model result

In [15]:
ypred = model.predict(X)
ypred

array([[192521.25289008],
       [189156.76823227],
       [182147.2790962 ],
       [173696.70002553],
       [172139.51418327],
       [163580.7805712 ],
       [158114.09666865],
       [160021.36304781],
       [151741.69969865],
       [154884.68410995],
       [135509.01636714],
       [135573.71296074],
       [129138.05418243],
       [127487.99166275],
       [149548.64633453],
       [146235.1599852 ],
       [116915.40540144],
       [130192.44720781],
       [129014.2268059 ],
       [115635.21636716],
       [116639.6692309 ],
       [117319.45164029],
       [114706.98171695],
       [109996.61522126],
       [113362.96611314],
       [102237.72506481],
       [110600.5753503 ],
       [114408.07145684],
       [101660.02600497],
       [101794.98345176],
       [ 99452.37293606],
       [ 97687.85627575],
       [ 99001.32898549],
       [ 97915.00780465],
       [ 89039.27374116],
       [ 90511.59956753],
       [ 75286.17458546],
       [ 89619.5377079 ],
       [ 69697.43064804],
       [ 83729.01197692],
       [ 74815.95399105],
       [ 74802.55623866],
       [ 70620.41182056],
       [ 60167.03996335],
       [ 64611.3549157 ],
       [ 47650.64968691],
       [ 56166.20685261],
       [ 46490.58898335],
       [ 49171.38815763],
       [ 48215.1341113 ]])

In [16]:
Y

       PROFIT
0   192261.83
1   191792.06
2   191050.39
3   182901.99
4   166187.94
5   156991.12
6   156122.51
7   155752.60
8   152211.77
9   149759.96
10  146121.95
11  144259.40
12  141585.52
13  134307.35
14  132602.65
15  129917.04
16  126992.93
17  125370.37
18  124266.90
19  122776.86
20  118474.03
21  111313.02
22  110352.25
23  108733.99
24  108552.04
25  107404.34
26  105733.54
27  105008.31
28  103282.38
29  101004.64
30   99937.59
31   97483.56
32   97427.84
33   96778.92
34   96712.80
35   96479.51
36   90708.19
37   89949.14
38   81229.06
39   81005.76
40   78239.91
41   77798.83
42   71498.49
43   69758.98
44   65200.33
45   64926.08
46   49490.75
47   42559.73
48   35673.41
49   14681.40

### Evaluate the model
    1. Mean square error
    2. Root mean square error
    3. Mean absolute error
    4. R2 Score

In [18]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

mse = mean_squared_error(Y,ypred)
rmse = mse**(1/2)
mae = mean_absolute_error(Y,ypred)
r2=r2_score(Y,ypred)

print("****************")
print(f"Mean square error {mse}")
print(f"Root Mean square error {rmse}")
print(f"Mean absolute error {mae}")
print(f"r2 score {r2}")
print("****************")

****************
Mean square error 78417126.01913084
Root Mean square error 8855.344489015142
Mean absolute error 6471.45039610481
r2 score 0.9507459940683246
****************

### Prediction for new values

[[RND,ADMIN,MKT]]

In [19]:
X.columns

Index(['RND', 'ADMIN', 'MKT'], dtype='object')

In [20]:
xnew = [[200000,50000,80000]]
propred = model.predict(xnew)
propred

array([[212102.64973734]])